@import '../../styles/variables.scss';
.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 40px;
	margin: 20px 0;
	.titleLogo {
		text-transform: uppercase;
		font-family: $second-family;
		font-weight: 400;
		font-size: 35px;
		line-height: 116%;
		color: $light-colors-black-light;
		margin: 0;
		&::first-letter {
			color: $dark-colors-accent-dark;
		}
	}
}
