@import '../../styles/variables.scss';
.header {
	display: flex;
	position: fixed;
	width: 100%;
	z-index: 2;
	justify-content: space-between;
	align-items: center;
	height: 60px;
	border-bottom: 1px solid $light-colors-gray-light;
	background: rgb(250 247 247 / 90%);
	backdrop-filter: blur(9px);

	// @media (max-width: 768px) {
	// 	padding: 0 20px;
	// }
	@media (min-width: 320px) and (max-width: 991px) {
		padding: 0 15px;
	}
	@media (min-width: 992px) and (max-width: 1200px) {
		padding: 0 40px;
	}
	@media (min-width: 1201px) and (max-width: 1400px) {
		padding: 0 63px;
	}
	@media (min-width: 1401px) {
		padding: 0 100px;
	}
}
