@import '../../../styles/variables.scss';
.blockNavigation {
	display: flex;
	.listMenu {
		display: flex;
		gap: 40px;
		align-items: center;
		justify-content: center;
		padding-right: 2rem;
		margin: 0;
		.linkList {
			.linkTitle {
				font-weight: 400;
				font-size: 16px;
				line-height: 169%;
				color: $light-colors-black-light;
				font-family: $font-family;
				text-decoration: none;
			}
		}
	}
}
