@import '../../../styles/variables.scss';
.nav {
	display: flex;
	gap: 20px;

	.navList {
		display: flex;
		align-items: center;
		gap: 64px;
		margin-bottom: 0;
		padding: 0;

		.navItem {
			display: flex;
			align-items: center;
			list-style: none;
		}
		.navItemActive {
			border-bottom: 1px solid $light-colors-black-light;
		}
		.navLink {
			text-decoration: none;
			font-weight: 400;
			font-size: 16px;
			line-height: 169%;
			color: $light-colors-dark-gray-light;
		}
		.navLinkActive {
			color: $light-colors-black-light;
		}

		.disabled {
			opacity: 0.5;
		}
	}
}
